P.highlight {
  padding-left: 120px;
}

.db {
}

.tabs {
  background-color: red;
  border-left: 1px solid yellow;
  border-bottom: 1px solid black;
}

ul {
  padding: 0px;
  margin: 0px;
}

li.title {
  cursor: pointer;
  display: inline-block;
  list-style-type: none;
  padding: 5px;
  margin: 0px;
  background: #8ca0a9;
  color: red;
}

.tab {
  padding: 5px;
  text-align: justify;
}

.titles .active {
  font-weight: bold;
  background-color: pink;
  border-top: 1px solid pink;
}

.titles {
  border-left: 1px solid pink;
  border-bottom: 1px solid pink;
  width: initial;
}

.blocks {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#result {
  overflow: auto;
}
